* {
  outline: none !important;
}

/* Used to avoid horizontal scrolling due to full bleed banner */
html,
body {
  background-color: var(--color-dark) !important;
  overflow-x: hidden;
}

button,
a {
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s !important;
}

button {
  cursor: pointer !important;
}

button:disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

input[type='checkbox'] {
  accent-color: var(--color-primary) !important;
}
