* {
  outline: none !important;
}

button,
a {
  transition:
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s !important;
}

button {
  cursor: pointer !important;
}

button:disabled {
  cursor: not-allowed !important;
  opacity: 0.6 !important;
}

select option:checked {
  background-color: var(--color-primary) !important;
  color: white !important;
}

input[type='checkbox'] {
  accent-color: var(--color-primary) !important;
}
